:root {
  --background-color: white;
  --text-color: #333;
  --link-color: mediumseagreen;
  --link-hover-color: darkgreen;
  --link-visited-color: darkslategray;
  --gradient: linear-gradient(to right, white, honeydew, white);
  --border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #eee;
    --link-color: lightgreen;
    --link-hover-color: limegreen;
    --link-visited-color: lightseagreen;
    --gradient: linear-gradient(to right, #2f4345, #232938, #2f4345);
    --border-color: #555;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-visited-color);
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 5rem;
  padding: 0 1rem;
}

header,
footer,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

main {
  flex: 1;
  padding: 1rem 2rem;
}

header,
footer {
  background: var(--gradient);
}
